<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.uw.uidemo">

    <uses-permission android:name="android.permission.RECEIVE_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="edu.uw.uidemo.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="edu.uw.uidemo.SecondActivity"
            android:parentActivityName="edu.uw.uidemo.MainActivity">

            <!-- for action bar back -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.uw.uidemo.MainActivity" />

            <!-- Non-functional (it seems) -->
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <!-- <data android:mimeType="text/plain"/> -->
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <receiver android:name="edu.uw.uidemo.MyReceiver">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
